body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
}

.header {
    background-color: pink;
    overflow: hidden;
}

.header a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: underline;
}

.header a:hover {
    background-color: palevioletred;
    color: black;
}